body{
    font-family: var(--font-family);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    box-shadow: 0px 13px 11px 0px rgba(0,0,0,0.75);

    font-weight: bold;
}

header > div{
    display: flex;
    gap: 10px;
}

.button-logout{
    padding: 10px 20px;
    color: var(--color-1);
    border: 1px solid var(--color-1);
    background-color: var(--color-white);

    cursor: pointer;

    font-weight: bold;
}

.user__container{
    width: 1000px;
    max-width: 90%;
    height: 100px;

    margin: 50px auto;
    padding: 20px;
    border: 1px solid #A8A8A8;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user__container > h2{
    font-weight: bold;
}

.user__container > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user__container > div > button{
    padding: 5px 10px;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-1);
    border: solid var(--color-1);
    cursor: pointer;
}

.department-data{
    width: 1000px;
    max-width: 90%;
    height: 50px;

    margin: 50px auto;
    padding: 20px;
    border: 1px solid #A8A8A8;
    border-bottom: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #F8F8F8;

    font-weight: bold;
}

.departments__users{
    width: 1000px;
    max-width: 90%;
    height: 200px;

    margin: -50px auto;
    padding: 20px;
    border: 1px solid #A8A8A8;
    border-top: none    ;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #F8F8F8;
}

.departments__users > h2{
    text-align: center;
    font-weight: bold;
}

.departments__users > li{
    border: 1px solid var(--color-black);
    width: 200px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;

    margin-top: 10px;

    font-weight: bold;

    background-color: var(--color-white);
}

.empty-jobs{
    width: 1000px;
    max-width: 90%;
    height: 50px;

    margin: 50px auto;
    padding: 20px;
    border: 1px solid #A8A8A8;
    

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F8F8F8;

    font-weight: bold;
}